.navbar-section {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navtitle {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: rgb(101, 182, 135);
}
